.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
}

button {
    padding: 8px 16px;
    margin-bottom: 16px;
    background-color: #FFA200;
}

.title {
    font-size: 30px;
}

.label {
    font-size: 18px;
    margin:16px 0 6px 0;
}

textarea {
    padding: 16px
}

.submit-wrapper {
    margin-top: 28px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.submit-wrapper > button {
    width: 80%;
}